@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html {
	scrollbar-color:  #155efc #ececec;
	scrollbar-width: thin;
}

:root{
  --background: #fafafa;
  --foreground: #2b2b2b;
  --primary:#155dfc;

  /* button */
  --button-background: #155dfc;
  --button-foreground: #fafafa;

  /* input */
  --input-primary: #155dfc;
  --input-foreground: #2b2b2b;
  --input-background: #fafafa;

  /* skeleton */
  --skeleton-background: #e5e7eb;
  
}

body{
  background-color: var(--background);
  color: var(--foreground);
  transition: all .3s ease-in-out;
}

.dark{  
  --background: #181818;
  --foreground: #c0cde3;
  --primary:#1581fc;

  /* button */
  --button-background: #1581fc;
  --button-foreground: #ebebeb;

  /* input */
  --input-primary: #1581fc;
  --input-foreground: #ebebeb;
  --input-background: #23272e;

  /* skeleton */
  --skeleton-background: #3b3b3b;
}

@theme{
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* button */
  --color-b-background: var(--button-background);
  --color-b-foreground: var(--button-foreground);
  /* input */
  --color-i-primary: var(--input-primary);
  --color-i-foreground: var(--input-foreground);
  --color-i-background: var(--input-background);
  /* skeleton */
  --color-skeleton: var(--skeleton-background);

  --animate-spin-slow: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}